@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
}

html, body {
  color: #2f2f2f;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

header {
  color: #4CAF50;
  font-size: 1.5em;
  text-align:center;
  margin:10px;
} 

section article {
  font-size: 0.96em;
}

h4 {margin:20px 0;}

p {
  margin:20px 0;
}

code {
  display:block;
  text-align:left;
  white-space: normal;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color:#f7f7f7;
  padding:15px;
  border-left: 8px solid #504caf;
}

table, td, tr {text-align:center;}

table {
  border:3px solid #504caf;
  
}

#navbar {
  position: fixed;
  top:0;
  left:0;
  width:20%;
  height:100%;
  border-right: 2px solid;
  border-color: #a8a8a8;
}

#navbar ul {
  height:90%;
  overflow-y:auto;
  overflow-x:hidden;
}

#navbar ul a li {
  list-style:none;
  border: 1px solid #4CAF50;
  border-bottom-width:0;
  border-left-width: 0;
  border-right-width: 0;
  padding: 10px 10px 10px 30px;
  color: #2f2f2f;
}

#navbar ul a {
  text-decoration: none;
}

#navbar ul a:hover li {
  background-color: #f1f1f1;
}

#main-doc {
  position:absolute;
  margin-left: 20%;
  padding:20px 20px 20px 40px;
  width:75%;
  box-sizing: border-box;
}

#main-doc header {
  text-align:left;
  margin-left:0;
}

article ol, article ul {
  margin: 20px 0 20px 30px;
}

@media screen and (max-width: 768px) {
  #navbar {
    width:99.5%;
    max-height:270px;
    position:absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index:1;
  }
  
  #navbar ul {
    height:207px;
  }
  
  #main-doc {
    position:relative;
    width:90%;
    margin-top:270px;
    margin-left:0;
  }
}

@media screen and (max-width:400px) {
  table {
    font-size:0.7em;
  }
  
  #main-doc {
    padding-left: 20px;
  }
}